*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: steelblue;
    background-image: linear-gradient(to right, #5e86ba, #9f649e 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 400px;
    background-color: #fff;
    width: 95%;
}
.wrapp-input{
    position: relative;
    width: 100%;
    min-height: 50px;
}
.wrapp-input input{
    outline: none;
    border: 4px solid #3d3d3d;
    width: 100%;
    height: 50px;
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
    transition: 0.4s ease all;
}

.wrapp-input input:focus{
    border-color: steelblue;
}

.icon-eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s ease all;
}

.icon-eye:hover{
    background-color: steelblue;
}